{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"></legend>
                <div class="form-group">
                    {{ form.query.label(class="form-control-label") }}

                    {% if form.query.errors %}
                        {{ form.query(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                                {% for error in form.query.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                        </div>
                    {% else %}
                        {{ form.query(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.top_k.label(class="form-control-label") }}

                    {% if form.top_k.errors %}
                        {{ form.top_k(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                                {% for error in form.top_k.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                        </div>
                    {% else %}
                        {{ form.top_k(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            <small class="text-muted ml-2">
                <a href="#"></a> 
            </small>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Generate Recommendations
        </small>
    </div>
{% endblock content %}
