{% extends "layout.html" %}

{% block content2 %}
<div class="col-md-4">
  <div class="content-section">
    <h3>Intructions</h3>
    <p class='text-muted'>
      First, copy a full abstract of the paper you would like to use. Note that this is not the same as the title. Paper abstracts are short paragraphs that give some context to and summarize research. They can usually be found at the start of a paper.
      <br><br>
      Enter the number of paper recommendations (between 1 and 10) you would like to generate.
<br><br>
      <i>NOTE: This model works best with Physics/CS/EE/Math abstracts</i>
      <hr>
      For more information on this project, visit our <a href="{{url_for('about')}}">about page</a>
    </p>
  </div>
</div>
{% endblock %}

{% block content %}

    <div class="content-section">

        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class=""></legend>
                <div class="form-group">
                    {{ form.query.label(class="form-control-label") }}

                    {% if form.query.errors %}
                        {{ form.query(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                                {% for error in form.query.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                        </div>
                    {% else %}
                        {{ form.query(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.top_k.label(class="form-control-label") }}

                    {% if form.top_k.errors %}
                        {{ form.top_k(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                                {% for error in form.top_k.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                        </div>
                    {% else %}
                        {{ form.top_k(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            <small class="text-muted ml-2">
                <a href="#"></a>
            </small>
        </form>
    </div>

{% endblock content %}
